.footer {
  width: 100vw;
  height: 4rem;
  background: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 0.75rem;
}
